/* réinitialisations de base, ne pas toucher */
* {
    margin: 0;
    padding: 0;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    page-break-inside:avoid;
}

/* liens vers la typo */
@font-face {
    font-family: 'montserratbold';
    src: url('montserrat-bold.woff2') format('woff2'),
         url('montserrat-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  font-size: 35px;
    font-family: "montserratbold";
    color: blue;
    background-color: white;
}
p {
  margin-top: 20px;
}
p {
  margin-bottom: 10px
}
.ligne-en-bas {
  border-bottom: 3px solid blue;
  margin-left: 100px;
  margin-right: 870px;
  float: left;
  position: absolute;
}
.ligne-en-haut{
  margin-left: 870px;
  margin-right: 100px;
  float:left;
  position: absolute;
  border-bottom: 3px solid blue;
}
.titre{
  font-size: 70px;
  font-family: "montserratbold";
  color: blue;
  margin-top: 15px;
  margin-left: 95px;
  margin-bottom: 22px;
  border-bottom: 5px solid blue;
  margin-right: 650px;
  line-height: 50px;
}
.titre-red{
  font-size: 70px;
  font-family: "montserratbold";
  color: red;
  margin-top: -300px;
  margin-left: 100px;
  margin-bottom: 25px;
  border-bottom: 5px solid red;
  margin-right: 650px;
  line-height:50px;
  
}
