/* réinitialisations de base, ne pas toucher */
* {
    margin: 0;
    padding: 0;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    page-break-inside:avoid;
}

/* liens vers la typo */
@font-face {
    font-family: 'League Gothic';
    src: url('fonts/leaguegothic-regular-webfont.eot');
    src: url('fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('fonts/leaguegothic-regular-webfont.svg#league_gothic_regularregular') format('svg');
    font-weight: normal;
    font-style: italic;
}

body {
    font-family: 'League Gothic';
    font-size: 40px;
    text-align: center;
}
.titre{
    margin-top: 50px;
}

/* RESPONSIVE */

/* ÉCRAN SEULEMENT */
@media screen {
    .print-only {
        display: none;
    }
}

/* ÉCRAN (VALEURS MINIMUM) */
@media screen and (min-width: 480px) {

}
/* ÉCRAN (VALEURS MAXIMUM) */
@media screen and (max-width: 480px) {
    .titre {
        color: red;
    }
}

/* IMPRESSION */

@media print {
    .titre {
        color: blue;
    }
    .screen-only {
        display: none;
    }
}

@page {
    size: 210mm 297mm;
    margin: none;
}
