/* réinitialisations de base, ne pas toucher */
* {
    margin: 0;
    padding: 0;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    page-break-inside:avoid;
}

/* liens vers la typo */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,900,900i');

body {
  font-family: 'Roboto', sans-serif;
  background-color: black;
}

.container {
height: 30px;
width: 160px;
margin: auto;
margin-top: 50vh;
transform: translateY(-50%);
color: black;
}

.text {
  font-size: 30px;
  font-style: italic;
  font-family: helvetica;
  font-weight: bold;
  text-align: center;
}

.container:hover{
  color: white;
}
