/* réinitialisations de base, ne pas toucher */
* {
    margin: 0;
    padding: 0;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    page-break-inside:avoid;
}

/* liens vers la typo */
@font-face {
  font-family: 'aileronultralight';
  src: url('fonts/aileron-ultralight-webfont.woff2') format('woff2'),
       url('fonts/aileron-ultralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
background-color: white;
color: white;
  margin: 50px;
  font-size: 50px;
  font-family: 'aileronultralight';
  cursor:url(img/cle.png),auto;
}
p{
text-align: center;
}
img {
    width: 128px;
}
