/* réinitialisations de base, ne pas toucher */
* {
    margin: 0;
    padding: 0;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    page-break-inside:avoid;
}

/* liens vers la typo */
@font-face {
  font-family: 'Libre Baskerville', serif;
    font-weight: normal;
    font-style: italic;
}
/*
https://css-tricks.com/snippets/css/keyframe-animation-syntax/
*/

body{
  background-color: #000000
  }
  p {
  color: #FFFFFF;
  margin-left: 625px;
  margin-top: 100px;
  font-size: 50px
  }
  li a{
    color: #FFFFFF;
    margin-left: 650px;
    margin-top: 310px;
    font-size: :50px;

  }
  #gif1 {
    margin-left: 500px;
    margin-top:250px;
  }
  #gif2 {
    margin-left: 550px;
    margin-top:200px;
  }
  #video{
    float:left;
    margin-left: 150px
  }
}
