@import url('https://fonts.googleapis.com/css?family=VT323');


/* réinitialisations de base, ne pas toucher */
* {
    margin: 0;
    padding: 0;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    page-break-inside:avoid;
}

/* liens vers la typo */

body {
    background-color: black;
}

.gif {
  margin-top; -40;
  width: 100%;
  margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
  transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
  position: absolute;
  z-index: 0;
}

.texte {
  position: relative;
  z-index: 1;
  padding-top: 60vh;
  font-family: 'VT323', monospace;
  font-size: 30px;
  color: white;
  text-align: center;
  text-decoration: blink;
}
